/* Reorganized selectors on this page to follow proper order. Universal, Type, Class, ID. Also changed flow to mimic flow of the HTML. */
/* Sets the entire webpage to have all child elements contained in the parent container and sets all padding and margins to 0 */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* Changes the background color of the entire webpage */
body {
    background-color: #d9dcd6;
}

/* Changes the text color of the navbar links */
a {
    color: #ffffff;
    text-decoration: none;
}

/* Changes the font size for all paragraph elements */
p {
    font-size: 16px;
}

/* Sets the default font family and changes the background color and text color of the header for the page */
.header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
}

/* Sets the size of the Horiseon heading to 48px */
.header h1 {
    display: inline-block;
    font-size: 48px;
}

/* Changes the color of the letters seo in the Horiseon heading */
/* directly calling the seo class to make code neater */
.seo {
    color: #d9dcd6;
}

/* Aligns the nav bar to the right, sets the default font family and changes the font size to 20px */
.header nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

/* Gets rid of the bullet points for the list items in the nav bar */
/* Used descendant selector to make code neater */
.header ul {
    list-style-type: none;
}

/* Displays the navbar items next to eachother instead of on top of eachother */
/* Used descendant selector to make code neater */
.header li {
    display: inline-block;
    margin-left: 25px;
}

/* Adds a background image to the webpage */
.hero {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/digital-marketing-meeting.jpg");
    background-size: cover;
    background-position: center;
}

/* Sets the width of the content class containers to 75% of the webpage */
.content {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}

/* consolidated 3 seperate article selectors into one by selecting all articles in the content class */
/* Sets the font family, background color and text color of all content for articles in the content class. Also makes the height 300px */
.content article {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

/* consolidated 3 seperate h2 selectors into one using the content class */
/* Sets the font size of the content class h2's to 36px */
.content h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

/* consolidated 3 seperate image selectors into one using the content class */
/* Sets the max height of the content class images to 200px */
.content img {
    max-height: 200px;
}

/* Makes whatever is part of this class display to the left of its container */
.float-left {
    float: left;
    margin-right: 25px;
}

/* Makes whatever is part of this class display to the right of its container */
.float-right {
    float: right;
    margin-left: 25px;
}

/* changes the background color and font family of this class and displays the content to the right of the webpage */
.benefits {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
}

/* Sets the font color of all text in the benefits class articles to white */
/* consolidated 3 seperate article selectors into one by selecting all articles in the benefits class */
.benefits article {
    margin-bottom: 32px;
    color: #ffffff;
}

/* Centers the h2 heading */
/* consolidated 3 seperate h2 selectors into one by selecting all h2's in the benefits class */
.benefits h2 {
    margin-bottom: 10px;
    text-align: center;
}

/* Sets the max-width of the image to 150px and centers the image */
/* consolidated 3 seperate image selectors into one by using the benefits class */
.benefits img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

/* Sets the font family and centers the content of the footer class */
.footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

/* Sets the font size of the footer class h2 to 20px */
.footer h2 {
    font-size: 20px;
}